{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>회원정보</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        * {
            font-family: "Noto Sans KR";
            font-weight: 400;
        }    
        .button {
            border: none; 
            border-radius: 4px;
            width: 165px;
            background-color: #BC55EF;
            color: white;
            margin-top: 10px;
            font-size: 13px;
            height: 27px
        }
    </style>
</head>

<body>
    <div id="signup">
        <!-- 마이페이지로 action -->
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <h1>회원정보 수정</h1>
            {{ form.as_p }}
            <div style="display: inline-block;">
                <form action="/users/signout/{{ user.user_id }}/" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary" onclick="return confirm('멀티 프로필의 모든 내용이 삭제되어 기존 서비스를 이용할 수 없습니다. 정말 회원 탈퇴하시겠습니까?')">
                        회원탈퇴
                    </button>
                </form>
                <button class="btn btn-primary" type=submit>저장</button>
            </div>   
            <br>
            <div>
                
            </div>
        </form>
        {% comment %} <a href="{% url "users:signout" %}" onclick="return confirm(
            '멀티 프로필의 모든 내용이 삭제되어 기존 서비스를 사용할 수 없습니다. 정말 회원 탈퇴하시겠습니까?')">
            회원탈퇴
        </a> {% endcomment %}
    </div>
</body>
</html>