
<!-- menu: home -->
{% extends "base.html" %}
{% block content %}

<h1>공통 영양 성분 리포트 </h1>
<h2>우리가족을 위해 맞춤 추천된 제품입니다 </h2>
{% for product in products %}
                 
        
  <div>
    <li>  
   추천 영양제:
    <a href="{% url "products:product_detail" product.product_id profile.profile_id %}"> {{ product.product_name }}
     </a>
     {{ product_company}} 
     {{ product.product_instruction }} 
     {{ product_function_content}} 
     {{ product_dispos}} 
      {{ product_serving}} 
    {{product_storage_method}} 
     {{ product.product_caution }} 
    </li> 
  </div>



{% endfor %}
{% endblock content %}