{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style2.css" %}">
<style>
  *{
    .product_image {
      width: 200px;
      height: auto;
    }
  }
</style>

<div style="margin: 80px 62% 10px 10%">
  <a href="{% url "mypages:main" profile.profile_id %}">
    <button class="btn btn-secondary">이전</button>
  </a>
</div> 

<div style="text-align: center; ">
  <h2 style="font-size: 24px; font-weight: 500">
    좋아요 표시 영양제 목록
  </h2>
</div>

{% for product in products_list %}
<div style="margin: 40px 15%;">
  <div style="display: inline-block; margin-right: 10px; float: left">
    <img src= "{% static 'groups/product_temp_image_240506.png' %}" alt="영양제 대체 이미지" class="product_image">
  </div>
  <div style="display: inline-block; width: 850px">
    <li> 제품명: <a href="{% url 'products:products_detail' product.pk profile.pk %}" class ='click_word'>{{ product.product_name }}</a></li> 
    <li> 제조사: {{product.product_company}}</li>
    <li> 섭취 방법: {{ product.product_instruction }}</li>
    <li> 소비기한: {{product.product_serving}}</li>
    <li> 제품 형태: {{product.product_dispos}}</li>
    <li> 보관 방법: {{product.product_storage_method}}</li>
    <li> 주의사항: <br> {{product.product_caution}}</li>
    <li> 주된 기능성: <br> {{product.product_function_content}}</li>
  </div>
</div>
{% endfor %}

{% endblock content %}
