
{% extends "base.html" %}
{% block content %}

 {% comment %} <div>
    <a href="{% url "users:logout" %}">
    <button>로그아웃</button>
</a>
</div>

<div>
    <a href="{% url "users:acc-info" %}">
    <button>계정 관리</button>
</a>
</div> 

<h1>{{ profile.profile_name }}님의 프로필</h1>
<p>오늘도 PillGood 하세요</p>

<div>
    <a href="{% url "profiles:profile-info" profile.pk %}">
    <button>현재 프로필 수정</button>
</a>
</div>
 

<div>
    <a href="{% url "profiles" %}">
    <button>다른 프로필로 전환</button>
</a>
</div> {% endcomment %}

<h3>{{ profile.profile_name }}님의 활동</h3>

{% comment %} <div>
    <a href="{% url "mypages:recommends" profile.pk %}">
    <button>추천받은 영양성분</button>
</a>
</div>


<div>
    <a href="{% url "mypages:views" profile.pk %}">
    <button>최근 조회한 제품</button>
</a>
</div>

<div>
    <a href="{% url "mypages:likes" profile.pk %}">
    <button>좋아요 표시한 영양제</button>
</a>
</div>

<div>
    <a href="{% url "mypages:reviews" profile.pk %}">
    <button>리뷰 작성한 영양제</button>
</a>
</div> {% endcomment %}

{% endblock content %}
