
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">

<style>
    .profile_image {
        width: 55px; 
        height: auto; 
    }
    .product_image {
        width: 180px;
        height: auto;
    }
    font-family: "Noto Sans KR";
    font-weight: 400;
    .recommend_title {
        font-size: 18px; 
        font-weight: 500; 
        margin-bottom: 20px;
    }
    .product_info {
        width: 170px; 
        text-align: left;
        font-size: 12px;
    }
    .product_title {
        font-weight: 500;
        font-size: 15px;
    }
</style>

<div style="display: inline-block; margin: 80px 10% 10px 62%">
    <div style="display: inline-block;">
        <form action="{% url "users:logout" %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">로그아웃</button>
        </form>
    </div>
    <div style="display: inline-block;">
        <form action="{% url "users:acc_info" %}" method="GET">
            {% csrf_token %}
            <button class="btn btn-secondary">계정 관리</button>
        </form>
    </div>
</div> 

<div style="text-align: center; margin-top: 30px">
    <h2 style="font-size: 24px; font-weight: 500;">
        <span style="color:#BC55EF">{{ profile.profile_name }}</span>님의 프로필
    </h2>
    <h3 style="margin-bottom: 20px">오늘도 Pill So Good!</h3>
</div>


<div style="text-align: center; margin: 5px">
    <div style="display: inline-block;">
        <form action="{% url "profiles:profile_edit1" profile.profile_id %}" method="GET">
            <button class="btn btn-primary" style="width: 248px; height: 30px;">현재 프로필 수정</button>
        </form>
    </div>
    <div style="display: inline-block;">
        <a href="/profiles/">
            <button class="btn btn-primary" style="width: 248px; height: 30px;">다른 프로필로 전환</button>
        </a>
    </div>
</div>

<div class="profile-container" style="margin: 20px 27%;">
    <h3 style="font-size: 18px; font-weight: 500; margin-bottom: 10px">{{ profile.profile_name }}님의 활동</h3>
    <div style="margin: 2px">
        <a href="{% url "mypages:recommends" profile.profile_id %}">
            <button class="btn btn-primary" style="width: 600px; height: 35px;">추천받은 영양성분</button>
        </a>
    </div>
    <div style="margin: 2px">
        <a href="{% url "mypages:views" profile.profile_id %}">
            <button class="btn btn-primary" style="width: 600px; height: 35px;">최근 조회한 제품</button>
        </a>
    </div>
    <div style="margin: 2px">
        <a href="{% url "mypages:likes" profile.profile_id %}">
            <button class="btn btn-primary" style="width: 600px; height: 35px;">찜한 영양제</button>
        </a>
    </div>
    <div style="margin: 2px">
        <a href="{% url "mypages:reviews" profile.profile_id %}">
            <button class="btn btn-primary" style="width: 600px; height: 35px;">리뷰 작성한 영양제</button>
        </a>
    </div>     
</div>


{% endblock content %}
