
<!-- menu: home -->
{% extends "base.html" %}
{% block content %}

<div>
    <a href="{% url "mypages:main" profile.profile_id %}">
    <button>이전</button>
    </a>
</div>

<h1>영양성분 AI 추천 기록 </h1>



<ul> 
    
    {% for ingredient in ingredients %}
      
           
          <li>
          
            <p><a href="{% url "recommends:profile_total_report" profile.profile_id survey_functions.survey_id.survey_id %}">{{recommendations_info.created_at}} ) 추천 영양 성분 리포트 - </a>
           
            영양성분이름: {{ ingredient.ingredient_name }} |         
            
            선택한 건강고민: {{ survey_functions.function_code.function_code }}
          </p>
          
           </li> 

      {% endfor %}
   
    
</ul> 

  {% endblock content %}
