
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style2.css" %}">

<div class='previous'>
  <a href="{% url 'mypages:main' profile.profile_id %}">
    <button>이전</button>
  </a>
</div>

<div>
  <h2><strong> 리뷰작성 영양제 목록 조회 </strong></h2>
</div>


<body> 
  {% for product in products_list %}
   
  <ul> <img src= "{% static 'groups/product_temp_image_240506.png' %}" alt="영양제 대체 이미지" class="product_image"></ul>
        <li> 제품명: <a href="{% url 'products:products_detail' product.1.pk profile.pk %}" class ='click_word'>{{ product.1.product_name }}</a></li> 
        <li>평점: {{ product.0.product_review_rating }}</li>
        <li>리뷰: {{product.0.product_review_content }}</li>
        <li>제조사: {{product.1.product_company}}</li>
        <li>섭취방법: {{ product.1.product_instruction }}</li>
        <li>소비기한: {{product.1.product_serving}}</li>
        <li>제품형태: {{product.1.product_dispos}}</li>
        <li>보관방법: {{product.1.product_storage_method}}</li>
        <li>주의사항: {{product.1.product_caution}}</li>
        <li>주된기능성: {{product.1.product_function_content}}</li>
      
    <br>
    <br>
  {% endfor %}
</body> 
{% endblock content %}
