
{% extends "base.html" %}
{% block content %}

<div>
    <a href="{% url "mypages" profile.pk %}">
    <button>이전</button>
    </a>
</div>

<h1> 리뷰작성 영양제 목록 조회 </h1>


  <ul> 
    {% for product in products.set.all|slice:":5" %}
      <li>
        <p>이미지</p>
        {{ product.product_name }}
       
    {% endfor %}   
    
    {% for product_review in product_reviews.set.all|slice:":5" %}
  
        <a href="{% url "products" product.pk profile.pk %}">{{product_reviews.product_review_content }}</a>
      
    {% endfor %}   
    </li> 
</ul>
{% endblock content %}
