
<!-- menu: home -->
{% extends "base.html" %}
{% block content %}

{% comment %} <div>
  <a href="{% url 'mypages' pk %}">
      <button>이전</button>
  </a>
</div>  {% endcomment %}

<h1> 최근 조회 제품 </h1>

{{productlog.product_id_id}}

{% comment %} <ul> 
    {% for product in products.set.all|slice:":5" %}
      <li>
        <p>이미지</p>
        {{ product.product_name }}
        <a href="{% url "products" product.pk profile.pk %}">{{product.product_instruction }}</a>
      </li>
    {% endfor %}
  </ul> {% endcomment %}
  {% endblock content %}
