<!-- menu: AI영양제 추천받기 > 영양성분리포트 -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<style>
    * {
        font-family: "Noto Sans KR";
        font-weight: 400;
        .profile_image {
          width: 55px; 
          height: auto; 
        }
        .product_image {
            width: 200px;
            height: auto;
        }
        .recommend_title {
            font-size: 18px; 
            font-weight: 500; 
            margin-bottom: 20px;
        }
        .product_info {
            width: 800px; 
            text-align: left;
            font-size: 15px;
        }
        .product_title {
            font-weight: 500;
            font-size: 15px;
        }
      }
</style>

<div style="text-align: center; margin-top: 80px">
    <h1 style="font-size: 24px; font-weight: 500">영양 성분 리포트</h1>
    <br>
    <h2 style="font-size: 15px; font-weight: 400">{{ profile.profile_name }}님의 프로필 정보 확인</h2>
</div>

<div class="profile-container" style="margin: 20px 20% 20px 20%;">
    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <img src = "{% static 'home/profile_temp_image_240506.png' %}" alt = "프로필 사진" class="profile_image">
        </div>
        <div style="display: inline-block;">
            <table style="width:800px; table-layout: fixed">
                <tr>
                    <td style="font-weight: 600">나이</td>
                    <td style="font-weight: 600">성별</td>
                    <td style="font-weight: 600">키</td>
                    <td style="font-weight: 600">몸무게</td>
                    <td style="font-weight: 600">임신상태</td>
                    <td style="word-wrap: break-word; width: 100px; font-weight: 600">알레르기 여부</td>
                    <td style="word-wrap: break-word; width: 100px; font-weight: 600">기저질환</td>
                    <td style="font-weight: 600">흡연 여부</td>
                    <td style="font-weight: 600">음주 여부</td>
                </tr>
                <tr>
                    <td>만 {{ age }} 세</td>
                    <td>{{ survey.survey_sex }}</td>
                    <td>
                      {% if survey.survey_height != '미입력' %}
                      {{ survey.survey_height }} cm
                      {% else %}
                      {{ survey.survey_height }}
                      {% endif %}
                    </td>
                    <td>
                      {% if survey.survey_weight != '미입력' %}
                      {{ survey.survey_weight }} kg
                      {% else %}
                      {{ survey.survey_weight }}
                      {% endif %}
                    </td>
                    <td>{{ pregnancy }}</td>
                    <td>{{ allergy|join:', ' }}</td>
                    <td>{{ disease|join:', ' }}</td>
                    <td>{{ survey.survey_smoke }}</td>
                    <td>{{ alcohol }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div>
    {% for r_ingredient in recommend_ingredients %}
        <h3>추천 영양 성분{{ forloop.counter }}</h3>
        <ul>
            <li>영양 성분명: {{ r_ingredient.ingredient_name }}</li>
            <li>주요 건강 기능: {{ r_ingredient.ingredient_function_content }}</li>
            <li>일일 섭취량: 최대 {{ r_ingredient.ingredient_limit_high }} {{ r_ingredient.ingredient_unit }} / 최소{{ r_ingredient.ingredient_limit_low }} {{ r_ingredient.ingredient_unit }}</li>
            <!-- rending page: recom_profile_product_list.html -->
            <form action="{% url "recommends:products_nutri_base" profile.profile_id survey.survey_id r_ingredient.ingredient_id %}" method='get'>
                <button>추천 영양제 보기</button>
            </form>
        </ul>
        <br>
    {% endfor %}
</div>
<br>
<div>
    <h3>영양제 추천</h3>
    <div>
        영양성분 리포트를 바탕으로 추천하는 <br>
        <!-- rending page: recom_profile_product_list.html -->
        {% for r_product in recommend_products %}
            <a href="{% url "products:products_detail" r_product.product_id profile.profile_id %}">
                {% if r_product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ r_product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
                {{ r_product.product_name}} | {{ r_product.product_rating_avg }} / 5
            </a>
        {% endfor %}
        <form action="{% url "recommends:products_profile_base" profile.profile_id survey.survey_id %}" method='get'>
            {% csrf_token %}
            <button>더보기</button>
        </form>
    </div>
    <br><br>
    <div>
        비슷한 {{ survey.survey_age_group }} {{ survey.survey_sex }}에게 인기있는 영양제<br>
        <!-- rending page: recom_profile_product_list.html -->
        {% for c_product in collabo_recommendation_products %}
            <a href="{% url "products:products_detail" c_product.product_id profile.profile_id %}">
                {% if c_product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ c_product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
                {{ c_product.product_name}} | {{ c_product.product_rating_avg }} / 5
            </a>
        {% endfor %}
        <form action="{% url "recommends:request_flask_collabo_recom_model" profile.profile_id %}"  method='get'>
            {% csrf_token %}
            <button>더보기</button>
        </form>
    </div>
    <br>
</div>

{% endblock content %}
