<!-- menu: AI영양제 추천받기 -->
{% extends "base.html" %}
{% block content %}
<h1>AI 영양제 추천받기</h1>
<h2>나의 프로필 정보 확인</h2>

<!-- 설문 기반 ai 영양 성분 및 제품 추천 -->
<!-- rending page: recom_personal_report.html -->
<form action="/recommends/profile-id/surveys/survey-id" method='get'>
    <button>나에게 맞는 영양제 추천받기</button>
</form>

<!-- 홈 메인화면으로 가기 -->
<!-- rending page: main.html -->
<form action="/home/profile-id/surveys/survey-id" method='get'>
    <button>이전</button>
</form>

<!-- 프로필 수정 화면으로 가기 -->
<form action="/profiles/profile-id/profile-info" method='get'>
    <button>프로필 수정</button>
</form>
{% endblock content %}