<!-- menu: home -->
{% extends "base.html" %}
{% block content %}



<div style="text-align: center; margin-top: 80px">
    <h2 style="font-size: 24px; font-weight: 500">{{ profile.profile_name }}님의 프로필</h2>
</div>

<!-- 마진 상쇄 주의 (ex. 하기 div에서 inline-block을 하면 안 먹힘) -->
<div class="profile-container" style="margin: 20px 30% 20px 30%;">
    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <img src = "/static/css/profile_temp_image_240506.png" alt = "프로필 사진" width="55px" height="55px">
        </div>
        <div style="display: inline-block;">
            <table style="width:500px">
                <tr>
                    <td><form action="{% url "profiles:profile" %}" method="get">
                            <button class="btn btn-secondary">프로필 전환</button>
                        </form>
                    </td>
                    <td>생년월일</td>
                    <td>성별</td>
                    <td>임신상태</td>
                    <td>알레르기 여부</td>
                </tr>
                <tr>
                    <td>{{ profile.profile_name }}  </td>
                    <td>{{ profile.profile_birth }}</td>
                    <td>{%if survey.survey_sex == 'f' %}
                        {{ '여성' }}
                        {% else %}
                        {{ '남성' }}
                        {% endif %}
                    </td>
                    <td>{{ pregnancy }}</td>
                    <td>{{ allergy }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- rending page: recom_profile_info.html -->
{% comment %} <form action="/recommends/{{ profile_id }}/info/"  method='get'> {% endcomment %}
<div style="text-align: center">
    <form action="{% url "recommends:profile_info" profile_id %}"  method='get'>
        <button class="btn btn-recommendation" style="font-size: 15px; width: 500px; height: 30px;">건강설문하고 영양제 추천 받기</button>
    </form>    
</div>

<div class="profile-container" style="text-align: center; margin: 40px">
    <h3 style="font-size: 18px; font-weight: 500; margin-bottom: 20px">{{ profile.profile_name }} 님을 위한 맞춤 영양제 추천</h3>
    {% if survey == None %}
        <!-- rending page: recom_profile_info.html -->
        영양제를 추천받아보신 적이 없으시군요!
        <form action="{% url "recommends:profile_info" profile_id %}" method='get'>
            <button class="btn btn-primary">나의 맞춤 영양제 추천을 위한 건강 설문 하러 가기</button>
        </form>
    {% else %}
        <!-- rending page: recom_profile_product_list.html -->
        <!-- /recommends/<int:profile-id>/surveys/<int:survey-id>/rec-total-products/ -->
        추천받은 영양제들이 노출될 예정
        <form action="{% url "recommends:products_profile_base" profile_id survey.survey_id %} " method='get'>
            <button class="btn btn-primary">더보기</button>
        </form>
    {% endif %}
</div>

<div class="profile-container" style="text-align: center; margin: 40px">
    <h3 style="font-size: 18px; font-weight: 500; margin-bottom: 20px">{{ survey.survey_age_group }}  
        {%if survey.survey_sex == 'f' %}
            {{ '여성' }}
        {% else %}
            {{ '남성' }}
        {% endif %}에게 인기 많은 영양제를 확인해 보세요</h3>
    <!-- rending page: recom_profile_product_list.html -->
    협업 필터링 기반 영양제들이 노출될 예정
    <form action="{% url "recommends:products_collabo_base" profile_id %}" method='get'>
        <button class="btn btn-primary">더보기</button>
    </form>
</div>
{% endblock content %}