<!-- menu: home -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<style>
    * {
        .profile_image {
            width: 55px; 
            height: auto; 
        }
        .product_image {
            width: 180px;
            height: auto;
        }
        font-family: "Noto Sans KR";
        font-weight: 400;
        .recommend_title {
            font-size: 18px; 
            font-weight: 500; 
            margin-bottom: 20px;
        }
        .product_info {
            width: 170px; 
            text-align: left;
            font-size: 12px;
        }
        .product_title {
            font-weight: 500;
            font-size: 15px;
        }
        {% comment %} background-color: #fbf3ff {% endcomment %}
    }    
</style>

<div style="text-align: center; margin-top: 80px">
    <h2 style="font-size: 24px; font-weight: 500">{{ profile.profile_name }}님의 프로필</h2>
</div>

<!-- 마진 상쇄 주의 (ex. 하기 div에서 inline-block을 하면 안 먹힘) -->
<div class="profile-container" style="margin: 20px 30% 20px 30%;">
    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <img src = "{% static 'home/profile_temp_image_240506.png' %}" alt = "프로필 사진" class="profile_image">
        </div>
        <div style="display: inline-block;">
            <table style="width:500px">
                <tr>
                    <td><form action="{% url "profiles:profile" %}" method="get">
                            <button class="btn btn-secondary">프로필 전환</button>
                        </form>
                    </td>
                    <td>연령대</td>
                    <td>성별</td>
                    <td>임신상태</td>
                    <td>알레르기 여부</td>
                </tr>
                <tr>
                    <td>{{ profile.profile_name }}  </td>
                    <td>{{ survey.survey_age_group }}</td>
                    <td>{%if survey.survey_sex == 'f' %}
                        {{ '여성' }}
                        {% else %}
                        {{ '남성' }}
                        {% endif %}
                    </td>
                    <td>{{ pregnancy }}</td>
                    <td>{{ allergys|join:', ' }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- rending page: recom_profile_info.html -->
{% comment %} <form action="/recommends/{{ profile_id }}/info/"  method='get'> {% endcomment %}
<div style="text-align: center">
    <form action="{% url "recommends:profile_info" profile_id %}"  method='get'>
        <button class="btn btn-recommendation" style="font-size: 15px; width: 500px; height: 30px;">
            건강설문하고 영양제 추천 받기
        </button>
    </form>    
</div>

<div class="profile-container" style="text-align: center; margin: 40px 10%">
    <h3 class="recommend_title">
        {{ profile.profile_name }}님을 위한 맞춤 영양제 추천
    </h3>
    {% if survey == None %}
        <!-- rending page: recom_profile_info.html -->
        영양제를 추천받아보신 적이 없으시군요!
        <form action="{% url "recommends:profile_info" profile_id %}" method='get'>
            <button class="btn btn-primary">
                나의 맞춤 영양제 추천을 위한 건강 설문하러 가기
            </button>
        </form>
    {% else %}
    <!-- rending page: recom_profile_product_list.html -->
    <!-- /recommends/<int:profile-id>/surveys/<int:survey-id>/rec-total-products/ -->
    <!-- 이미지 클릭 시 해당 영양제 제품 상세 페이지로 이동하는 기능 구현할 예정 -->
    {% comment %} # /products/{product-id}/{profile-id} {% endcomment %}
    {% comment %} products:products_detail {% endcomment %}
    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>    
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>    
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <form action="{% url "recommends:products_profile_base" profile_id survey.survey_id %} " method='get'>
            <button class="btn btn-primary" style="margin-top: 15px">더보기</button>
        </form>
    </div>
    {% endif %}
</div>

<div class="profile-container" style="text-align: center; margin: 40px 10%">
    <h3 class="recommend_title">{{ survey.survey_age_group }}  
        {%if survey.survey_sex == 'f' %}
            {{ '여성' }}에게
        {% else %}
            {{ '남성' }}에게
        {% endif %}인기 많은 영양제를 확인해보세요</h3>
    <!-- rending page: recom_profile_product_list.html -->
    <!-- 이미지 클릭 시 해당 영양제 제품 상세 페이지로 이동하는 기능 구현할 예정 -->
    <div style="display: inline-block;">
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>    
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <div style="display: inline-block;">
            <a href="{% url "products:products_detail" product.product_id profile.profile_id %}">
                {% if product.product_image == '0' %}
                    <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
                {% else %}
                    <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
                {% endif %}
            </a>    
        </div>
        <div style="display: inline-block;">
            <table class="product_info">
                <tr>
                    <th>{{ product.product_company }}</th>
                </tr>
                <tr>
                    <th class="product_title">{{ product.product_name }}</th>
                </tr>
                <tr>
                    <th>{{ product.product_rating_avg }}</th>
                </tr>
            </table>
        </div>
        <form action="{% url "recommends:products_collabo_base" profile_id %}" method='get'>
            <button class="btn btn-primary" style="margin-top: 15px">더보기</button>
        </form>
    </div>
</div>

{% endblock content %}