@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

h1, h2, h3, h4, h5, h6 {
padding: 5px;
margin: 5px;
font-weight: 300;
}


a {
text-decoration: none;
color: #333;
}

html {
margin: 0;
font-family: "Noto Sans KR", serif;
font-weight: 300;
font-size: 14px;
color: #333;
height: 100%;
}

body {
margin-left: 25px;
height: 100%;
}

.service_name {
  font-size: 2.0rem;
  color: #BC55EF;
  margin-left: 10px;
  margin-right: auto; 
}

.navbar {
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; 
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #BC55EF;
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  margin: 15px;
}


.button-container1 {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 10px;
  margin-right: 20px;
  margin-top: 30px;
  
}

.button-container1 button {
  margin: 20px 50px; 
  padding: 1px 2px;
  width: 90%;
  height: 30px;
  line-height: 25px;
  background-color: #BC55EF;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.button-container1 button:hover {
  color: white;
  background-color:  #9B30F5; 
  }

.button-container2 {
  display: flex; 
  justify-content: center;
  align-items: center; 
 
}

.button-container2 button {
  margin: 20px 50px; 
  padding: 1px 2px; 
  width: 150%;
  line-height: 25px;
  background-color: white;
  border: 1px solid  #BC55EF;
  color: black;
  cursor: pointer;
}

.button-container2 button:hover {
  color: white;
  background-color:  #9B30F5; 
  }

.button-container3 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 180px;
  padding-right: 10px;

}

.button-container3 button {
  width: 500px;
  height: 30px;
  background-color: white;
  border: 1px solid  #BC55EF;
  color: black;
  cursor: pointer;

}
.button-container3 button:hover {
  color: white;
  background-color:  #9B30F5; 
  }

.previous {
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  padding: 10px;
  margin-top: 50px;
  
}

.previous button {
  margin: 20px 50px; 
  padding: 1px 2px; 
  width: 90%;
  height: 30px;
  line-height: 25px;
  background-color: #BC55EF;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.previous button:hover {
  background-color: #9B30F5;
}

.footer {
	width: 100%;
	bottom: 0px;
  font-size: 12px;
	z-index: 1;
  margin: 10px;
  padding: 10px;
}


.product_image {
  width: 100px;
  height: auto;
}

.click_word {
  margin-left: 10px;
  font-size: 16px;
  color: #BC55EF;
}
.click_word:hover {
  color: #9B30F5
}

.more_content {
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
   
}

.more_content button {
  margin: 20px 50px; 
  padding: 1px 2px; 
  width: 90%;
  height: 30px;
  line-height: 25px;
  background-color: #BC55EF;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.more_content button:hover {
  background-color: #9B30F5;
}