<!-- menu: ai 영양제 추천받기 > 영양 성분 리포트 > 영양제 추천 목록 > 영양제 상세보기 -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style2.css" %}">
<style>
    * {
        font-family: "Noto Sans KR";
        font-weight: 400;
        .product_image {
            width: 200px;
            height: auto;
        }
        .recommend_title {
            font-size: 18px; 
            font-weight: 500; 
            margin-bottom: 20px;
        }
        .product_info {
            width: 800px; 
            text-align: left;
            font-size: 15px;
        }
        .product_title {
            font-weight: 500;
            font-size: 15px;
        }
        .comment {
            border: 1px solid #b2afaf;
            width: 1050px;
        }
        .flex-container{
            display: flex;
            justify-content: center;
        }
        .flex-item{
            border-radius: 20px;
            box-shadow: 0.6px 0.6px 8px 0.6px rgba(0, 0, 0, 0.2);
            max-width: 1500px;
            width: 520px;
            height: auto;
            margin: 10px;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
        }
    }
</style>

<div style="text-align: center; margin-top: 80px">
    <h2 style="font-size: 24px; font-weight: 500">
        {{ profile.profile_name }}님에게 추천하는 영양제
    </h2>
</div>


<div class="profile-container" style="text-align: center; margin: 40px 15%">
    <h3 class="recommend_title">
        아래 기능을 개선하는데 좋은 제품이에요
    </h3>
    {% for p_ingredient in product_ingredients %}
    <li class="product_info">{{ p_ingredient.ingredient_function_content }}<br></li>
    {% endfor %}
</div>


<div style="margin: 40px 15%;">
    <div style="display: inline-block; margin-right: 20px">
        <h3 class="recommend_title">
            제품 상세
        </h3>
        {% if product.product_image == '0' %}
            <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
        {% else %}
            <img src="{% static '{ product.product_image }' %}" alt="영양제 제품 이미지" class='product_image'>
        {% endif %}
    </div>
    <div style="display: inline-block; width: 820px">
        <li>제품명: {{ product.product_name }}</li>
        <li>제품 평점: {{ product.product_rating_avg }}/5</li>
        <li>제조사명: {{ product.product_company }}</li>
        <li>제품 효능: {{ product.product_fuction_content }}</li>
        <li>섭취 방법: {{ product.product_instruction }}</li>
        <li>제품 형태: {{ product.product_dispose }}</li>
        <li>섭취 시 주의사항: {{ product.product_caution }}</li>
        <li>보관 방법: {% if product.product_storage_method == None %}
                            {{ '습기가 적고 직사광선을 밪지 않는 실온에 보관하시고, 어린이의 손에 닿지 않도록 주의하시기 바랍니다.' }}
                    {% else %}
                            {{ product.product_storage_method }}
                    {% endif %}</li>
        <li>소비기한: {{ product.product_serving }}</li>    
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <h3 class="recommend_title">
            추천 성분 분석
        </h3>
        {% for p_ingredient in product_ingredients %}
            {{ p_ingredient.ingredient_name }}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div class="flex-item">
        <h3 class="recommend_title">
            주요 건강 기능
        </h3>
        {% for p_ingredient in product_ingredients %}
            {{ p_ingredient.ingredient_function_content }}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>    
</div>


<div style="margin: 40px 15%;">
    <h3 class="recommend_title">
        리뷰
    </h3>
    {% if review == False %}
        <form id="comment-form" action="{% url 'products:product_review' product.product_id profile.profile_id %}" method="post">
            {% csrf_token %}
            <div>
                별점:
                <select name="rating">
                    <option value="1">1점</option>
                    <option value="2">2점</option>
                    <option value="3">3점</option>
                    <option value="4">4점</option>
                    <option value="5">5점</option>
                </select>
                <button class="btn btn-secondary" type="submit" style="float: right; margin-bottom: 5px">댓글 등록</button>    
                <textarea class="comment" name="comment" rows="4" cols="50" maxlength="200" placeholder="댓글을 입력하세요(최대 200자)"></textarea><br>
            </div>
        </form>
    {% else %}
        <li>{{ review.product_review_rating }} 점 | {{ review.product_review_content }} </li>
    {% endif %}
</div>
<script>
    document.getElementById("comment-form").addEventListener("submit", function(event) {
        var comment = document.getElementById("comment").value;
        if (comment.trim() === "") {
            event.preventDefault();
            alert("댓글을 작성하세요!");
        }
    });
</script>
{% comment %} <div>
<strong>현재시간: </strong>
    <div id="current-time"> 
    </div>
    <script>
        function whatTimeIsIT() {
            var currentTime = new Date();
            return currentTime;
        }
    
        // 페이지가 로드될 때마다 현재 시간을 표시
        window.onload = function() {
            var currentTimeElement = document.getElementById('current-time');
            currentTimeElement.innerHTML = whatTimeIsIT();
        };
    </script>
</div> {% endcomment %}
{% endblock content %}