<!-- menu: ai 영양제 추천받기 > 영양 성분 리포트 > 영양제 추천 목록 > 영양제 상세보기 -->
{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<style>
    * {
        font-family: "Noto Sans KR";
        font-weight: 400;
        .product_image {
            width: 200px;
            height: auto;
        }
        .recommend_title {
            font-size: 18px; 
            font-weight: 500; 
            margin-bottom: 20px;
        }
        .product_info {
            width: 800px; 
            text-align: left;
            font-size: 15px;
        }
        .product_title {
            font-weight: 500;
            font-size: 15px;
        }
        .comment {
            border: 1px solid #b2afaf;
            width: 1050px;
            
        }
        .flex-container{
            display: flex;
            justify-content: center;
            
        }
        .flex-item{
            flex-glow:1;
            border-radius: 20px;
            box-shadow: 0.6px 0.6px 8px 0.6px rgba(0, 0, 0, 0.2);
            max-width: 1500px;
            width: 520px;
            height: auto;
            margin: 10px;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
        }
    }
</style>
<script type="text/javascript">
    function showAlert() {
        alert("영양제를 찜했어요!");
    }
    function showAlert2() {
        alert("영양제 찜하기를 취소했어요!");
    }
</script>
<div style="text-align: center; margin-top: 80px">
    <h2 style="font-size: 24px; font-weight: 500">
        <span style="color:#BC55EF;">{{ profile.profile_name }}</span>님에게 추천하는 영양제
    </h2>
</div>


<div class="profile-container" style="text-align: center; margin: 40px 15%; padding: 20px 0">
    <h3 class="recommend_title">
        아래 기능을 개선하는데 좋은 제품이에요
    </h3>
    <table style="table-layout: fixed">
        {% for p_function in product_functions %}
            {% if p_function in survey_functions %}
                <td style="color:#BC55EF; width: 90px"><strong>{{ p_function }}</strong></td>
            {% else %}
                <td style="width: 90px">{{ p_function }}</td>
            {% endif %}
        {% endfor %}
    </table>
</div>


<div style="margin: 40px 15%; ">
    <h3 class="recommend_title">
        제품 상세
    </h3>
    <div style="display: inline-block">
        <div style="display: inline-block">
            {% if product.product_image == '0' %}
                <img src="{% static 'product/product_temp_image_240506.png' %}" alt="영양제 제품 이미지" class='product_image'>
            {% else %}
                <img src="{% static product.product_image %}" alt="영양제 제품 이미지" class='product_image'>
            {% endif %}
        <div>
        <div style="display: inline-block; margin-bottom: 40px">
            <span style="color:#BC55EF; font-weight: 500; font-size: 15px; ">{{ product.product_name }}</span>
            <div style="display: inline-block">
                <form action="{% url 'products:product_like' product.product_id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    {% if product_like%}
                        <!-- 이미 찜한 상태 -->
                        <button id="likeButton" class="btn btn-primary" type="submit" style="width: 88px" onclick="showAlert2()">찜하기 취소</button>
                    {% else %}
                        <!-- 찜하지 않은 상태 -->
                        <button id="likeButton" class="btn btn-primary" type="submit" style="width: 88px" onclick="showAlert()">찜하기</button>
                    {% endif %}
                </form>
            </div>
            <li>평점: <span class="star-rating" style="--rating:{{ product.product_rating_avg }}; margin-right: 3px;"></span>{{ product.product_rating_avg }} ({{ product.product_rating_cnt }})</li>
            <li>제조사: {% if product.product_company == None %}
                            {{ '없음' }}
                        {% else %}
                            {{ product.product_company }}
                        {% endif %}
            </li>
            <li>섭취 방법: {% if product.product_instruction == None %}
                                {{ '없음' }}
                           {% else %}
                                {{ product.product_instruction }}
                           {% endif %} 
            </li>
            <li>소비기한: {% if product.product_serving == None %}
                                {{ '없음' }}
                          {% else %}
                                {{ product.product_serving }}
                          {% endif %} 
            </li>    
            <li>제품 형태: {% if product.product_dispos == None %}
                                {{ '없음' }}
                          {% else %}
                                {{ product.product_dispose }}
                          {% endif %}
            </li>
            <li>보관 방법: {% if product.product_storage_method == None %}
                                {{ '없음' }}
                           {% else %}
                                {{ product.product_storage_method }}
                           {% endif %}
            </li>
            <li>주의사항: {% if product.product_caution == None %}
                                {{ '없음' }}
                          {% else %}
                                {{ product.product_caution }}
                          {% endif %}
            </li>
            <!-- <li>주된 기능성: {% if product.product_fuction_content == None %}
                                {{ '없음' }}
                            {% else %}
                                {{ product.product_fuction_content }}
                            {% endif %}
            </li> -->
        </div> 
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <h3 class="recommend_title">
            추천 성분 분석
        </h3>
        {% for p_ingredient in product_ingredients %}
            {{ p_ingredient.ingredient_name }}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <div class="flex-item">
        <h3 class="recommend_title">
            주요 건강 기능
        </h3>
        {% for p_ingredient in product_ingredients %}
            {{ p_ingredient.ingredient_function_content }}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>    
</div>

<div style="margin-top: 40px">
    <h3 class="recommend_title">
        리뷰
    </h3>
    <!-- profile의 등록된 댓글이 없는 경우 -->
    {% if not review_profile %}
        <form id="comment-form" action="{% url 'products:product_review' product.product_id %}" method="post">
            {% csrf_token %}
            평점:
            <select name="rating">
                <option value="0">0점</option>
                <option value="1">1점</option>
                <option value="2">2점</option>
                <option value="3">3점</option>
                <option value="4">4점</option>
                <option value="5">5점</option>
            </select>
            <br><br>
            <textarea class="comment" name="comment" rows="4" cols="100" maxlength="200" placeholder="댓글을 입력하세요(최대 200자)"></textarea><br>
            <button class="btn btn-secondary" type="submit" style="margin-bottom: 5px">댓글 등록</button>    
        </form>
    {% endif %}
    <!-- 제품 관련 전체 댓글이 존재할 경우 -->
    {% if reviews %}
        {% for review in reviews %}
        <div class="review-container" style="margin-top: 10px">
            <div style="display: flex; align-items: center;">
                <div class="star-rating" style="--rating:{{ review.product_review_rating }}; margin-right: 10px;"></div>
                <strong style="font-weight: 500;">{{ review.profile_id.profile_name }}</strong>
                <span style="margin: 0 5px;">|</span>
                <span>{{ review.product_review_created_at|date:"Y-m-d H:i"|slice:":16" }}</span>
            {% comment %}                 
            </div>
            <div>{{ review.product_review_content }}</div>
            {% endcomment %}
                {% if review.profile_id == profile %}
                    <form action="{% url 'products:product_review_delete' product.product_id profile.profile_id review.product_review_id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-secondary" style="margin-left: 5px;" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                    </form>
                {% endif %}
            </div>
            <div>
                {{ review.product_review_content }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
<script>
    document.getElementById("comment-form").addEventListener("submit", function(event) {
        var comment = document.getElementById("comment").value;
        if (comment.trim() === "") {
            event.preventDefault();
            alert("댓글을 작성하세요!");
        }
    });
</script>
{% comment %} <div>
<strong>현재시간: </strong>
    <div id="current-time"> 
    </div>
    <script>
        function whatTimeIsIT() {
            var currentTime = new Date();
            return currentTime;
        }
    
        // 페이지가 로드될 때마다 현재 시간을 표시
        window.onload = function() {
            var currentTimeElement = document.getElementById('current-time');
            currentTimeElement.innerHTML = whatTimeIsIT();
        };
    </script>
</div> {% endcomment %}
{% endblock content %}