<!-- menu: AI영양제 추천받기 > 영양성분리포트 -->
{% extends "base.html" %}
{% block content %}
<h1>영양성분리포트</h1>

<div>
    <h3>추천 영양 성분1</h3>
    <!-- rending page: recom_profile_product_list.html -->
    <form action="/recommends/profile-id/surveys/survey-id/rec-nut-products/nutri-num" method='get'>
        <button>추천 영양제 보기</button>
    </form>

    <h3>추천 영양 성분2</h3>
    <!-- rending page: recom_profile_product_list.html -->
    <form action="/recommends/profile-id/surveys/survey-id/rec-nut-products/nutri-num" method='get'>
        <button>추천 영양제 보기</button>
    </form>

    <h3>추천 영양 성분3</h3>
    <!-- rending page: recom_profile_product_list.html -->
    <form action="/recommends/profile-id/surveys/survey-id/rec-nut-products/nutri-num" method='get'>
        <button>추천 영양제 보기</button>
    </form>
</div>

<div>
    <h2>영양제 추천</h2>
    영양성분 리포트를 바탕으로 추천하는 
    <!-- rending page: recom_profile_product_list.html -->
    <form action="/recommends/profile-id/surveys/survey-id/rec-total-products/" method='get'>
        <button>더보기</button>
    </form>

    비슷한 {30}대 {여성}에게 인기있는 영양제
    <!-- rending page: recom_profile_product_list.html -->
    <form action="/recommends/profile-id/surveys/survey-id/rec-collabo-products/" method='get'>
        <button>더보기</button>
    </form>
</div>

{% endblock content %}
