<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PillSoGood</title>
    <style>
        *{
            font-family: "Noto Sans KR";
        }
    </style>
</head>
<body>
    {% include "base_menu.html" %}

    {% block content %}

    {% endblock content %}

    {% include "base_footer.html" %}
</body>
</html>