<!-- menu: home -->
<h1>home 화면입니다</h1>

<!-- rending page: recom_profile_info.html -->
<form action="/recommends/profile-id/info" method='get'>
    <button>건강설문하고 영양제 추천 받기</button>
</form>

<h3>{xx}님을 위한 맞춤 영양제 추천</h3>
ex) 추천받은 적이 없는 경우
<!-- rending page: recom_profile_info.html -->
<form action="/recommends/profile-id/info" method='get'>
    <button>나의 맞춤 영양제 추천을 위한 건강 설문 하러 가기</button>
</form>

ex) 추천받은 적이 있는 경우
<!-- rending page: recom_profile_product_list.html -->
<form action="/recommends/profile-id/surveys/survey-id/rec-total-products/" method='get'>
    <button>더보기</button>
</form>

<h3>{30}대 {여성}에게 인기 많은 영양제를 확인해보세요</h3>
<!-- rending page: recom_profile_product_list.html -->
<form action="/recommends/profile-id/surveys/survey-id/rec-collabo-products/" method='get'>
    <button>더보기</button>
</form>