<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 선택</title>
</head>

<body>
    <h1>Profile</h1>
    {% comment %} {% for profile in profiles %} {% endcomment %}
    <div>
        {% comment %} <li>
            <a href="{% url "profiles:profile" profile.pk %}">{{ profile.name }}</a>
        </li> {% endcomment %}
        <form  method="GET">
            <button>선택</button>
        </form>
        <button>
            {% comment %} {% if profile_count == 1 %}
            <a href="#" onclick="alert('프로필을 삭제할 수 없습니다.')">삭제</a>
            {% else %} {% endcomment %}
            <a href="{% url "profiles:profile" %}" 
               onclick="return confirm('선택한 프로필을 삭제하시겠습니까?')">삭제</a>
            {% comment %} {% endif %}             {% endcomment %}
        </button>
        <form method="POST">
            {% csrf_token %}
            <button>수정</button>
        </form>
    </div>
    {% comment %} {% endfor %} {% endcomment %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <button>프로필 생성</button>
        </form>
    </div>
</body>

</html>