
{% extends "base.html" %}
{% block content %}
<body>
    <h1>Profile</h1>
    <div>
        {{ profiles.as_table }}
        <br>
        <!-- 선택 프로필의 홈 화면으로 이동-->
        <form action="{% url "home:home_main" %}" method="GET">
            <button>선택</button>
        </form>
        <button>
            <!-- 현존 프로필이 1개일 경우 삭제 불가능 -->
            <a href="{% url "profiles:profile" %}" onclick="return confirm(
            '선택한 프로필을 삭제하시겠습니까?')">
            삭제
            </a>
        </button>
        <form action="{% url "profiles:profile_info" %}" method="POST">
            {% csrf_token %}
            <button>수정</button>
        </form>
    </div>
    <div>
        <form action="{% url "profiles:survey1" %}" method="POST">
            {% csrf_token %}
            <button>프로필 생성</button>
        </form>
    </div>
</body>

{% endblock content %}