{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>프로필 수정</title>
    {% comment %} <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static "css/survey.css" %}">
    <style>
        * {
            font-family: "Noto Sans KR";
            font-weight: 400;
        }    
    </style>
</head>

<body>
    <div>
        <nav class="navbar" style="font-size: 24px; width: 100%;">
            <span>프로필 수정</span>
        </nav>
    </div>

    <div id="survey">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center; margin-top: 10%">
                <button class='btn btn-secondary' style="width: 50px">
                    <a href="{% url "profiles:profile" %}">이전</a>
                </button>
                <button class='btn btn-primary' style="width: 50px" type=submit>다음</button>
            </div>
        </form>
    </div>  

    <script>
        // <!-- AI 추천받기 페이지에서 이전 버튼 눌렀을 때의 IF문 추가 -->
        // 현재 페이지의 url을 가져오는 함수
        function getCurrentUrl() {
            return window.location.href;
        }
    
        function onSaveButtonClick() {
            var currentUrl = getCurrentUrl();
            var saveButton = document.getElementById("save-button");
        
            // 현재 URL에 따라 다른 경로로 이동
            if (currentUrl.includes("/profiles/")) {
                saveButton.href = "/profiles/";
            } else if (currentUrl.includes("recommends/info/")) {
                saveButton.href = "recommends/info/";
            }
        }
    </script>
    
</body>
</html>