<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 등록</title>
</head>
<body>
    <div id="survey">
        <form action="{% url "profiles:survey2" %}" method="POST">
            {% csrf_token %}
            <h1>새로운 프로필 등록</h1>
            {{ form.as_p }}
            <button>
                <a href="{% url "profiles:profile" %}">이전</a>
            </button>
            <button type=submit>다음</button>
        </form>
    </div>  
</body>
</html>